<h3 class="text-center m-3">My Wish Books</h3>
<div class="container p-3">
    <div class="row">
        {{#each wishbooks}}
            <div class="col-md-3">
                <div class="card text-center open">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase">{{title}}</h3>
                        <img src="{{img}}" alt="Portada" class="portada">
                        <br>
                        <small>{{autor}}</small>
                        <p class="m-2">{{descripcion}}</p>
                        <p>{{timeago created_at}}</p>
                        <a href="/wishBooks/delete/{{id}}" class="btn btn-danger">Delete</a>
                        <a href="/wishBooks/edit/{{id}}" class="btn btn-secondary">Edit</a>
                    </div>
                </div>
            </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are no Finished Wish Books yet</p>
                <a href="/wishBooks/add">Add Wish Books</a>
            </div>
        </div>    
        {{/each}}
    </div>
</div>