<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/books/edit/{{book.id}}" method="POST">
                        <div class="form-group">
                            <input type="text" value="{{book.title}}" class="form-control" name="title" placeholder="Title" autofocus>
                        </div>

                        <div class="form-group">
                            <input type="url" value="{{book.img}}" class="form-control" name="img" placeholder="Img (URL)" autofocus>
                        </div>

                        <div class="form-group">
                            <input type="text" value="{{book.autor}}" name="autor" class="form-control" placeholder="Autor">
                        </div>

                        <div class="form-group">
                            <textarea name="descripcion" rows="2" class="form-control" placeholder="Description">{{book.descripcion}}</textarea>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>