<div class="container p-3">
    <div class="row">
        {{#each books}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase">{{title}}</h3>
                        <img src="{{img}}" alt="Portada" class="portada">
                        <br>
                        <small>{{autor}}</small>
                        <p class="m-2">{{descripcion}}</p>
                        <p>{{timeago created_at}}</p>
                        <a href="/books/delete/{{id}}" class="btn btn-danger">Delete</a>
                        <a href="/books/edit/{{id}}" class="btn btn-secondary">Edit</a>
                    </div>
                </div>
            </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are no Finished Books yet</p>
                <a href="/books/add">Book Finished</a>
            </div>
        </div>    
        {{/each}}
    </div>
</div>